**Write a Python Program to Check if a Number is Positive, Negative or Zero?**

In [12]:
a=float(input("enter a number:"))
if (a==0):
  print("Number is zero")
elif(a>0):
  print("This is positive number")
else:
  print("This is negative number")

enter a number:-76
This is negative number

**Write a Python Program to Check if a Number is Odd or Even?**

In [13]:
a=int(input("enter a no.: "))
if(a%2==0):
  print("even number")
else:
  print("odd number")

enter a no.: 87
odd number

**Write a Python Program to Check Leap Year**

In [15]:
a= int(input("Entr a year: "))
if(a%4==0 and a%100!=0 or a%400==0):
  print("This is a leap year")
else:
  print("Not a leap year")

Entr a year: 2012
This is a leap year

**Write a Python Program to Check Prime Number?**

In [19]:
num = int(input("enter a number: "))
# If given number is greater than 1
if num > 1:
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

enter a number: 45
45 is not a prime number

**Write a Python Program to Print all Prime Numbers in an Interval of 1-10000**

In [9]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for num in range(lower,upper + 1):
   # prime numbers are greater than 1
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter lower range: 567
Enter upper range: 1200
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097
1103
1109
1117
1123
1129
1151
1153
1163
1171
1181
1187
1193